section.reasons-section
  .wrapper-xxxl
    .reasons-section__container
      h2.reasons-section__title.font-w-b-black.font-s-42.text-up
        | Почему 
        span.color-red «Mr.White»
      .reasons-section__sub-title.font-w-medium.font-s-24
        span.color-red 4 причины 
        | открыть бизнес вместе с нами
      .swiper-reasons
        .reasons-section__cards.swiper-wrapper
          .reasons-section__card.swiper-slide
            .reasons-section__card-num.font-w-b-bold.font-s-30 01
            .reasons-section__card-title.font-w-medium.font-s-18.text-up Высокая актуальность
            .font-w-light.font-s-16.color-grey
              | Каждый житель России имеет в 
              br.no-br
              | квартире мягкую мебель, поэтому 
              br.no-br
              | возможность вашего заработка 
              br.no-br
              | безгранична, кроме этого, люди 
              br.no-br
              | все больше начинают 
              br.no-br
              | пользоваться услугами 
              br.no-br
              | профессиональных мастеров.
          .reasons-section__card.swiper-slide.reasons-card-order-3
            .reasons-section__card-num.font-w-b-bold.font-s-30 02
            .reasons-section__card-title.font-w-medium.font-s-18.text-up Опытные партнёры
            .font-w-light.font-s-16.color-grey
              | Мы поделимся с вами всеми 
              br.no-br
              | нюансами ведения бизнеса в этой 
              br.no-br
              | нише и научим вас правильной 
              br.no-br
              | работе с мебелью, химией и 
              br.no-br
              | оборудованием и передадим рабочие
              br.no-br
              | методы привлечения клиентов.
          .reasons-section__card.swiper-slide.reasons-card-order-2
            .reasons-section__card-num.font-w-b-bold.font-s-30 03
            .reasons-section__card-title.font-w-medium.font-s-18.text-up Качество услуг
            .font-w-light.font-s-16.color-grey
              | Вы будете делать аппаратную 
              br.no-br
              | химчистку мягкой мебели, 
              br.no-br
              | ковролинов, матрасов и 
              br.no-br
              | прочего, используя только 
              br.no-br
              | профессиональную технику и 
              br.no-br
              | химию, чтобы получать 
              br.no-br
              | гарантированный результат.
          .reasons-section__card.swiper-slide.reasons-card-order-4
            .reasons-section__card-num.font-w-b-bold.font-s-30 04
            .reasons-section__card-title.font-w-medium.font-s-18.text-up Бизнес-модель
            .font-w-light.font-s-16.color-grey
              | Вместе с нами вы легко запустите 
              br.no-br
              | все процессы и начнете 
              br.no-br
              | зарабатывать сразу после старта 
              br.no-br
              | бизнеса. Вы получите все данные 
              br.no-br
              | для успешного открытия и будете 
              br.no-br
              | работать при нашей постоянной 
              br.no-br
              | поддержке!
        .reasons-pagination.swiper-progress-reasons
      .reasons-section__bottom
        .font-w-medium.font-s-24
          span.color-red Узнайте больше 
          | о работе с нами
        .reasons-section__bottom-text.font-w-regular.font-s-18
          span.color-red.font-w-medium Скачайте договор, 
          | в котором описаны наши 
          br.no-br
          | обязанности и все условия сотрудничества
        button.btn.reasons-section__btn(data-remodal-target="modal-form-agreement") Скачать договор
      img.reasons-section__img(src="images/reasons-section-img.png" loading="lazy" width="1170" height="983" alt="image")
      img.reasons-section__bottom-img(src="images/reasons-section-bottom-img.png" loading="lazy" width="894" height="395" alt="image")
