section.steps-section
  .wrapper
    .steps-section__container
      h2.steps-section__title.font-w-bold.font-s-48.text-up
        span.color-sea 9 простых шагов 
        br
        | для запуска вашего бизнеса
      .steps-section__sub-title.font-w-medium.font-s-24
        | Ознакомьтесь с ключевыми этапами совместной работы
      .steps-section__cards-wrapper
        .swiper-bullet
          .steps-section__cards.swiper-wrapper
            .steps-section__card.swiper-slide
              .steps-section__card-num.font-w-bold.font-s-18 1 шаг
              .font-s-16
                | Заключаем договор 
                br
                | франшизы
            .steps-section__card.swiper-slide.steps-card-order-4
              .steps-section__card-num.font-w-bold.font-s-18 2 шаг
              .font-s-16
                | Ищем помещение и 
                br
                | подписываем договор 
                br
                | аренды
            .steps-section__card.swiper-slide.steps-card-order-7
              .steps-section__card-num.font-w-bold.font-s-18 3 шаг
              .font-s-16
                | Проводим ремонт и 
                br
                | оформляем помещение 
                br
                | (при необходимости)
            .steps-section__card.swiper-slide.steps-card-order-2
              .steps-section__card-num.font-w-bold.font-s-18 4 шаг
              .font-s-16
                | Осуществляем поиск 
                br
                | персонала
            .steps-section__card.swiper-slide.steps-card-order-5
              .steps-section__card-num.font-w-bold.font-s-18 5 шаг
              .font-s-16
                | Производим заказ, 
                br
                | доставку и монтаж 
                br
                | оборудования и мебели
            .steps-section__card.swiper-slide.steps-card-order-8
              .steps-section__card-num.font-w-bold.font-s-18 6 шаг
              .font-s-16
                | Формируем первичные 
                br
                | запасы расходных 
                br
                | материалов
            .steps-section__card.swiper-slide.steps-card-order-3
              .steps-section__card-num.font-w-bold.font-s-18 7 шаг
              .font-s-16
                | Осуществляем 
                br
                | настройку рекламы
            .steps-section__card.swiper-slide.steps-card-order-6
              .steps-section__card-num.font-w-bold.font-s-18 8 шаг
              .font-s-16
                | Проводим обучение 
                br
                | персонала
            .steps-section__card.swiper-slide.steps-card-order-9
              .steps-section__card-num.font-w-bold.font-s-18.steps-card-num-9 9 шаг
              .font-s-16
                | Открываем мастерскую 
                br
                | и начинаем зарабатывать
          .bullet-pagination
      .steps-section__bottom
        .font-w-medium.font-s-30
          | Работаем 
          span.color-sea строго по договору,
        .steps-section__bottom-text.font-s-18 в котором описаны наши обязанности и все условия сотрудничества
        button.btn.steps-section__btn(data-remodal-target="modal-form-agreement") Скачать пример договора
      img.steps-section__img(src="images/steps-section-img.png" loading="lazy" width="1606" height="808" alt="image")
